<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Courier Prime|Amiri|Crimson Text|Crimson Text Italic|Fira Code Retina">
    <!--    <link rel="stylesheet" href="../static/css/style.css">-->
    <style>
        body {
            background-color: #F1F7F0;
        }

        #home-tab, #storage-tab, #in-progress-queries-tab, #waits-tab, #catalog-tab, #others-tab, #query-execution-tab {
            cursor: pointer;
        }

        /*.card-header {*/
        /*    font-family: 'Crimson Text', serif;*/
        /*}*/

        .icons {
            display: flex;
            justify-content: space-between;
        }

        .scroll {
            overflow-y: auto;
            max-height: 100vh;
            height: 85vh;
        }

        /*Table header*/
        thead {
            background: #00A086;
            color: white;
        }

        tbody {
            background: white;
            color: #473344;
        }

        /*Table Head */
        th {
            font-family: 'Courier Prime', serif;
        }

        /*Table Data*/
        td {
            font-family: 'Courier Prime', serif;
        }

        /*div.dataTables_wrapper {*/
        /*    width: 800px;*/
        /*    margin: 0 auto;*/
        /*}*/

        .hlight-class {
            background-color: teal;
            color: white;
            margin: 2px;
            padding: 2px 5px;
            border-radius: 4px;
            font-family: 'Courier Prime', 'Comic Sans MS', serif;
        }

        .hlight-parameter {
            background-color: #c82829;
            color: white;
            margin: 2px;
            padding: 2px 5px;
            border-radius: 4px;
            font-family: 'Courier Prime', 'Comic Sans MS', serif;
        }

    </style>

    <title>Stato - Oracle DB Status</title>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Stato - Oracle DB Status Viewer</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active font-weight-bold">
                <a class="nav-link" id="home-tab">
                    <i class="fas fa-home mr-1"></i>
                    Home
                </a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" id="storage-tab">
                    <i class="fas fa-database mr-1"></i>
                    Storage
                </a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" id="in-progress-queries-tab">
                    <i class="fas fa-running mr-1"></i>
                    In-progress
                    Queries
                </a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" id="waits-tab">
                    <i class="fas fa-clock mr-1"></i>
                    Waits
                </a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" id="catalog-tab">
                    <i class="fas fa-list mr-1"></i>
                    Catalog</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" id="query-execution-tab">
                    <i class="fas fa-adjust mr-1"></i>
                    Query Execution</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" id="others-tab">
                    <i class="fas fa-book mr-1"></i>
                    Others
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid my-2">
    <div class="jumbotron-fluid">
        <div id="visible-page">
            <!-- Home page-->
            <div id="home-page" class="tool-page">
                <div class="card">
                    <div class="card-header">
                        Home page
                    </div>
                </div>
            </div>

            <!-- Storage section -->
            <div id="storage-page" class="tool-page">
                <div class="card">
                    <div class="card-header">
                        Storage page
                    </div>
                </div>
            </div>

            <!-- In Progress Queries section -->
            <div id="in-progress-queries-page" class="tool-page">
                <div class="card">
                    <div class="card-body">
                        <div id="in-progress-queries-bar">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="long-running-queries-tab" data-toggle="pill"
                                       href="#pills-long-running-queries"
                                       role="tab" aria-controls="pills-long-running-queries" aria-selected="true">Long
                                        Running
                                        Queries</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="query-resources-tab" data-toggle="pill"
                                       href="#pills-query-resources"
                                       role="tab" aria-controls="pills-query-resources" aria-selected="false">Resource
                                        Usage By
                                        Queries</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="sqlid-tab" data-toggle="pill" href="#pills-sqlid"
                                       role="tab" aria-controls="pills-sqlid" aria-selected="false">Search for
                                        SQLID</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-long-running-queries" role="tabpanel"
                                 aria-labelledby="long-running-queries-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="icons">
                                            Last Refreshed: <span id="long-running-queries-last-refresh"></span>
                                            <form class="form-inline">
                                                <div class="form-group mx-sm-3">
                                                    <label for="long-running-queries-auto-refresh-time" class="sr-only">Enter
                                                        Auto Refresh time</label>
                                                    <input type="number" class="form-control"
                                                           id="long-running-queries-auto-refresh-time"
                                                           placeholder="30 Secs" min="30" max="600" value="30">
                                                </div>
                                                <button type="submit" class="btn btn-success"
                                                        id="long-running-queries-auto-refresh-btn">Enable Auto Refresh
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div id="long-running-queries-section"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-query-resources" role="tabpanel"
                                 aria-labelledby="query-resources-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="icons">
                                            <span></span>
                                            <form class="form-inline">
                                                Last Refreshed: <span id="resource-usage-auto-last-refresh"></span>
                                                <div class="form-group mx-sm-3">
                                                    <label for="resource-usage-auto-refresh-time" class="sr-only">Enter
                                                        Auto Refresh time</label>
                                                    <input type="number" class="form-control"
                                                           id="resource-usage-auto-refresh-time"
                                                           placeholder="30 Secs" min="30" max="600" value="30">
                                                </div>
                                                <button type="submit" class="btn btn-success"
                                                        id="resource-usage-auto-refresh-btn">Enable Auto Refresh
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-body scroll">
                                        <div id="query-resource-usage-section">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-sqlid" role="tabpanel"
                                 aria-labelledby="sqlid-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="icons">
                                            Last Refreshed: <span id="query-progress-last-refresh"></span>
                                            <form class="form-inline">
                                                <div class="form-group mx-sm-3">
                                                    <!-- Show all -->
                                                    <button type="submit" class="btn btn-info mr-3"
                                                            id="sqlid-show-all">Show All
                                                    </button>

                                                    <!-- Minimise all -->
                                                    <button type="submit" class="btn btn-info mr-3"
                                                            id="sqlid-hide-all">Hide All
                                                    </button>

                                                    <!-- Enter SQL Id -->
                                                    <label for="sqlid" class="sr-only">Enter SQLID</label>
                                                    <input type="text" class="form-control mr-3" id="sqlid"
                                                           placeholder="Enter SQL ID">

                                                    <button type="submit" class="btn btn-info mr-3"
                                                            id="sqlid-monitor-btn">Fetch SQLID Data
                                                    </button>

                                                    <label for="query-progress-auto-refresh-time" class="sr-only">Enter
                                                        Auto Refresh time</label>
                                                    <input type="number" class="form-control"
                                                           id="query-progress-auto-refresh-time"
                                                           placeholder="30 Secs" min="30" max="600" value="30">
                                                </div>
                                                <button type="submit" class="btn btn-success"
                                                        id="query-progress-auto-refresh-btn">Enable Auto Refresh
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="sqlid-section">
                                            <div class="accordion" id="accordionExample">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link" type="button"
                                                                    data-toggle="collapse" data-target="#collapseOne"
                                                                    aria-expanded="true" aria-controls="collapseOne">
                                                                Long Running Query
                                                            </button>
                                                        </h5>
                                                    </div>

                                                    <div id="collapseOne" class="collapse show sqlid-collapse"
                                                         aria-labelledby="headingOne" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div id="long-running-query-sqlid"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed" type="button"
                                                                    data-toggle="collapse" data-target="#collapseTwo"
                                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                                Query Resource Usage
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse sqlid-collapse"
                                                         aria-labelledby="headingTwo"
                                                         data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div id="query-resource-usage-sqlid"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed" type="button"
                                                                    data-toggle="collapse" data-target="#collapseThree"
                                                                    aria-expanded="false" aria-controls="collapseThree">
                                                                Oracle Enterprise Manager Report
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseThree" class="collapse sqlid-collapse"
                                                         aria-labelledby="headingThree" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div id="oem-report">
                                                                <button type="button" class="btn btn-success"
                                                                        id="enterprise-manager-report-btn">OEM Report
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Show SQL Text -->
                                                <div class="card">
                                                    <div class="card-header" id="headingFour">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed" type="button"
                                                                    data-toggle="collapse" data-target="#collapseFour"
                                                                    aria-expanded="false" aria-controls="collapseFour">
                                                                SQL Text
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseFour" class="collapse sqlid-collapse"
                                                         aria-labelledby="headingFour" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <div id="sqlid-sqltext"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Waits section -->
            <div id="waits-page" class="tool-page">
                <div class="card">
                    <div class="card-header">
                        Waits
                    </div>
                </div>
            </div>

            <!-- Catalog Tables section -->
            <div id="catalog-page" class="tool-page">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-header icons">
                                <h4>Catalog Tables</h4>

                                <button class="btn btn-primary" id="catalog-refresh-btn">
                                    <i class="fas fa-redo"></i>
                                </button>
                            </div>

                            <div id="catalog-tables-sidebar" class="card-body scroll">
                                <div id="catalog-tables-section" class="my-2">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card">
                            <div class="card-header">
                                <h6>Catalog Tables</h6>
                            </div>

                            <div class="card-body scroll">
                                <div id="catalog-tables-data-section">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Query Execution section -->
            <div id="query-execution-page" class="tool-page my-5"></div>

            <!-- Others section -->
            <div id="others-page" class="tool-page">
                <div class="card">
                    <div class="card-header">
                        Others page
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/api-calls.js"></script>
<script src="/static/js/auto-refresh-setup.js"></script>
<script src="/static/js/common.js"></script>

</body>
</html>
